{% extends 'base.html' %}
{% block content %}

<h1>Dog Profile</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ dog.name }}</span>
        <p>Breed: {{ dog.breed }}</p>
        <p>Description: {{ dog.description|linebreaks }}</p>
        <p>Titles: {{ dog.titles }}</p>
        <p>Handler: {{ dog.handler }}</p>
        <p>Microchip number: {{ dog.microchipnr }}</p>
        {% if dog.age > 0 %}
          <p>Age: {{ dog.age }}</p>
        {% else %}
          <p>Age: Puppy</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'dogs_update' dog.id %}">Edit</a>
        <a href="{% url 'dogs_delete' dog.id %}">Delete</a>
      </div>
  </div>
</div>
<div class="col s6">
    <form action="{% url 'add_trial' dog.id %}" method="POST">
      {% csrf_token %}
      <!-- Render the inputs -->
      {{ trial_form.as_p }}
      <input type="submit" class="btn" value="Add Trial Result">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Trial</th></tr>
      </thead>
      <tbody>
        {% for trial in dog.trial_set.all %}
          <tr>
            <td>{{trial.date}}</td>
            <td>{{trial.name}}</td>
            <td>{{trial.judge}}</td>
            <td>{{trial.score}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ dog.name }}'s Events</h3>
    {% if dog.events.count %}
      {% for event in dog.events.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span>{{ event.name }}</span> {{ event.date }}
            </span>
          </div>
        </div>
        <div class="card-action">
          <form action="{% url 'unassoc_event' dog.id event.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn">Remove</button>
          </form>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <h5>No Events Registered</h5>
    {% endif %}
  </div>
  <!-- Available events will come after this line -->
  <div class="col s6">
    <h3>Available Events</h3>
    {% if events.count %}
      {% for event in events.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span>{{ event.name }}</span> {{ event.date }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_event' dog.id event.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{dog.name}} has participated in all registered events.</h5>
    {% endif %}
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  // M is Materialize's global variable
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>

{% endblock %}